.header__logo {
  font-family: Montserrat;
  color: #000;
  font-size: 18px;
  line-height: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}