.btn {
  font-family: Montserrat-Normal;
  display: inline-block;
  vertical-align: top;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}